.main {}

.mountain svg {
    position: absolute;
    bottom: 0;
    z-index: -10;
}

.mountain svg:nth-child(1) {
    background-image: linear-gradient(to bottom, transparent, grey);
}


/* SEARCH */

.searchCon {
    display: flex;
    justify-content: center;
    margin: 2%;
    padding: 2%;
}

.searchCon input {
    width: 100px;
    border: 2px solid #cfcfcf;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-right: hidden;
    background-color: transparent;
    padding: 10px;
    animation: start 1s forwards;
    transition: box-shadow .5s ease;
    color: #eeeeee;
}

.searchCon input:focus {
    outline: none;
    border-color: #eeeeee;
    width: 320px;
    box-shadow: 0px 0px 3px #eeeeee;
}

.searchCon input:focus~button {
    border-color: #eeeeee;
    box-shadow: 0px 0px 3px #eeeeee;
}

.searchCon button {
    background-color: transparent;
    border: 2px solid #cfcfcf;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-left: hidden;
    clip-path: inset(-5px 0px -5px -5px);
    padding: 10px;
    cursor: pointer;
    transition: box-shadow .5s ease;
}

.searchCon button i {
    font-size: 25px;
    color: #cfcfcf;
    transition: color .2s ease;
}

.searchCon button:hover>i {
    color: #efefef;
}


/* RESULTS */

.parentResult {
    display: flex;
    justify-content: center;
}

.resultCon {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 10%;
    margin: 5%;
    padding: 3%;
    margin-bottom: 40%;
    border: 2px solid white;
    border-radius: 20px;
    /* height: 900px; */
    backdrop-filter: blur(10px);
    animation: resultStart 1s forwards;
}


/* card css */

.card {
    width: 200px;
    height: 300px;
    padding: 5px;
    border: 2px solid #cfcfcf;
}

.card img {
    width: 100%;
}


/* responsive */

@keyframes start {
    to {
        width: 300px;
    }
}

@keyframes resultStart {
    to {
        width: 100%;
    }
}

media